.appBody {
  display: flex;
  height: 100vh;
}

.navigation {
  flex: 0.2;
  color: white;
  background-color: black;
  min-width: 230px;
  padding-left: 10px;
  padding-right: 10px;
  padding: 30px;
}

.navigationTitle {
  margin-left: 10px;
  padding: 5px;
  font-size: 36px;
  font-family: circular-medium;
}

.navigationTab {
  display: flex;
  align-items: center;
  height: 40px;
  transition: 0.2s color ease-in;
}

.navigationLabel {
  display: flex;
  align-items: center;
  color: grey;
  transition: 0.2s color ease-in;
}

.navigationLabelIcon {
  padding-left: 10px;
  padding-right: 10px;
}

.navigationDivider {
  margin-left: 10px;
  padding: 5px;
  font-size: 12px;
}

.navigation > hr {
  border: 1px solid #282828;
  width: 90%;
  margin: 10px auto;
}

.navigationLink {
  margin-top: 10px;
  margin-left: 20px;
  font-size: 14px;
  color: grey;
  text-decoration: none;
  transition: 0.2s color ease-in;
  font-family: circular-light;
}

.navigationLink:hover,
.navigationLabel:hover,
.navigationLabel:hover > .navigationSubheader {
  color: white;
  cursor: pointer;
}

.navigationSubheader {
  font-size: 18px;
  color: grey;
  text-decoration: none;
  transition: 0.2s color ease-in;
  font-family: circular-bold;
}
